<!doctype html>
<html lang="en" data-framework="angularjs">
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <title><%= current_page.data.title || "Happy Book" %></title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Happy">
    <meta name="viewport" content="initial-scale=1">
    <link rel="apple-touch-icon-precomposed" href="/apple-touch-icon.png" />
    <%= stylesheet_link_tag "application" %>
    <style>html { -webkit-text-size-adjust: 100%; }</style>
  </head>
  <body class="<%= page_classes %>" ng-app="happyBook">
    <%= yield %>
    <%= javascript_include_tag  "application" %>
    <script>
      angular.module('happyBook',['LocalStorageModule']).
      controller('happyController',[
        '$scope',
        'localStorageService',
        function($scope, localStorageService){
        $scope.happies = [];
        localStorageService.bind($scope, 'happies', $scope.happies, 'localHappies');
        $scope.addHappy = function(){
          $scope.happies.push({'title':$scope.newHappy});
          $scope.newHappy= '';
        }

        $scope.happyReset = function(){
          localStorageService.clearAll();
        }

      }])
    </script>
  </body>
</html>
